#quote-box, header {
	text-align: center;
}

.terminal-card {
  height: 40vh;
	margin-top: 10px;
}

#quote {
	font-style: italic;
}

#author {
	text-align: right;
}

#tweet-quote {
	height: 38px;
}

#buttons {
	text-align: right;
}