#quote-box, header {
	text-align: center;
}

#quote-container {
	position: relative;
  min-height: 100px;
}

#quote {
	font-style: italic;
}

#tweet-quote {
	height: 38px;
}

#title {
	display: inline-block;
}